@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color:#5d33b9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
    overflow: hidden;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}